doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" contemt="width=device-width, initial-scale=1, shrink-to-fit=no")
        title webpack 4 practice
    body 
        //- #    #   ##   #    # #####    ##   #####  
        //- ##   #  #  #  #    # #    #  #  #  #    # 
        //- # #  # #    # #    # #####  #    # #    # 
        //- #  # # ###### #    # #    # ###### #####  
        //- #   ## #    #  #  #  #    # #    # #   #  
        //- #    # #    #   ##   #####  #    # #    # 
        .bg-gradient-info.fixed-top
            .container
                .header-nav.d-flex.justify-content-between.my-2
                    .d-flex.justify-content-around
                        a.border-right.px-1(herf='#') 賣家中心
                        a.border-right.px-1(herf='#') 下載
                        a.border-right.px-1(herf='#') Services
                        a.px-1(herf='#') Contact
                    .d-flex
                        a.px-1(herf='#') 通知總覽
                        a.px-1(herf='#') 幫助中心
                        a.px-1(herf='#') 註冊
                        a.px-1(herf='#') 登入
                .navbar.navbar-expand-lg.pt-0
                    .container.d-flex.justify-content-between
                        a.navbar-brand.text-dark(href="#") 
                            h1 Grant Shop
                        .w-100.px-5.py-2
                            .d-flex.my-lg-0.justify-content-between.bg-white
                                input.form-control.border-dark.mr-sm-2(type="search" placeholder="Search" aria-label="Search")
                                button.btn.btn-warning.my-2.my-sm-0(type="submit") Serach
                            .d-flex.hot-words-list
                                a.px-1(herf='#') 通知總覽
                                a.px-1(herf='#') 幫助中心
                                a.px-1(herf='#') 註冊
                                a.px-1(herf='#') 登入
        
        //- ######   #######  ##    ## ######## ######## ##    ## ######## 
        //- ##    ## ##     ## ###   ##    ##    ##       ###   ##    ##    
        //- ##       ##     ## ####  ##    ##    ##       ####  ##    ##    
        //- ##       ##     ## ## ## ##    ##    ######   ## ## ##    ##    
        //- ##       ##     ## ##  ####    ##    ##       ##  ####    ##    
        //- ##    ## ##     ## ##   ###    ##    ##       ##   ###    ##    
        //- ######   #######  ##    ##    ##    ########  ##    ##    ## 
        .container
            .row
                //- .col-lg-3
                //-     h1.my-4 Shop Name
                //-     .list-group
                //-         a.list-group-item Category 1
                //-         a.list-group-item Category 2
                //-         a.list-group-item Category 3

                .col-lg-12#appContent
                    //- #carouselExampleIndicators(data-ride='carousel').carousel.slide.my-4
                    //-     ol.carousel-indicators
                    //-         li.active(data-target="#carouselExampleIndicators" data-slide-to="0")
                    //-         li(data-target="#carouselExampleIndicators" data-slide-to="1")
                    //-         li(data-target="#carouselExampleIndicators" data-slide-to="2")
                    //-     .carousel-inner(role="listbox")
                    //-         .carousel-item.active
                    //-             img.d-block.img-fluid(src="http://placehold.it/900x350" alt="First slide")
                    //-         .carousel-item
                    //-             img.d-block.img-fluid(src="http://placehold.it/900x350" alt="Second slide")
                    //-         .carousel-item
                    //-             img.d-block.img-fluid(src="http://placehold.it/900x350" alt="Third slide")
                    //-     a.carousel-control-prev(href="#carouselExampleIndicators" role="button" data-slide="prev")
                    //-         span.carousel-control-prev-icon(aria-hidden="true")
                    //-         span.sr-only Previous
                    //-     a.carousel-control-next(href="#carouselExampleIndicators" role="button" data-slide="next")
                    //-         span.carousel-control-next-icon(aria-hidden="true")
                    //-         span.sr-only Next
                    //- .row
                        each val, index in ['zero', 'one', 'two']
                            .col-lg-4.col-md-6.mb-4
                                .card.h-100
                                    a(href="#")
                                        img.card-img-top(src="http://placehold.it/700x400" alt="")
                                    .card-body
                                        h4.card-title
                                            a(href="#")= val
                                        h5 $24.99
                                        p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                                    .card-footer
                                        small.text-muted &#9733; &#9733; &#9733; &#9733; &#9734;